[user]
	name = qiulin
	email = xcodeman@gmail.com
[alias]
    a = add
    co = checkout
    ci = commit
    cm = commit -m
    cam = commit -am
    st = status
    cl = clone
    pl = pull
    ps = push
    dt = difftool
    l = log --stat
    cp = cherry-pick
    ca = commit -a
    b = branch

